Package: libsleuthkit-datamodel-java
Source: sleuthkit-datamodel
Version: 4.6.0-1
Architecture: all
Maintainer: rishwanth <rishwanth@basistech.com>
Installed-Size: 11176
Depends: libpostgresql-jdbc-java, libc3p0-java, sleuthkit
Section: java
Priority: optional
Homepage: https://www.sleuthkit.org/
Description: SQLite datamodel for sleuthkit
 The core functionality of the Sleuth Kit is in the C/C++ library.
 The functionality is made available to Java applications by using
 JNI.  The theory is that a SQLite database is created by the C++
 library and then it is queried by native Java code. JNI methods
 exist to make the database and to read file content (and other raw
 data that is too large to fit into the database).
