Package: libsleuthkit-datamodel-java-doc
Source: sleuthkit-datamodel
Version: 4.6.0-1
Architecture: all
Maintainer: rishwanth <rishwanth@basistech.com>
Installed-Size: 13
Section: doc
Priority: optional
Homepage: https://www.sleuthkit.org/
Description: SQLite datamodel for sleuthkit - doc
 The docs contains the javadocs for sleuthkit jni.
 .
 This package contains the Javadoc API
